@import 'normalize.css';
/* 
*  Defining Style to Documment
*/   
body {
    max-width: 50%;
    margin: 0 auto;
}
header {
    background: rgb(75, 167, 184);
    padding: 0.75rem;
    margin : 0 auto;
    max-width : 45rem;
    color: #FFF;
    text-align: left;
    font-family:  'Archivo Narrow', sans-serif;
    font-size: 20px;
}
header div img{
    width: 200px;
    height: auto;
}
h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}
h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 2px;    
    background-color: #ecd112;
}
section {
    color: rgb(75, 167, 184);
    text-align: left;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}
footer {
    background: rgb(75, 167, 184);
    padding: 0.75rem;
    margin : 0 auto;
    max-width : 45rem;
    color: #FFF;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-section {
    width:  250px;
    align-items: center;
    margin-bottom: 15px;

}
.center{
    margin: 0 auto;
    padding-left: 0;
}

ul{
    margin: 0 auto;
    font-size: 18px;
}
