@media only screen and (min-width: 1280px) {
  /*--------------- SECTION ---------------*/
  h1 {
    font-size: 50px;
    margin: 2.5rem;
 
  }
  .day {
      height: 148px;
      font-size: 25px;
  }
  .deg {
      font-size: 25px;
  }
  .summary-img {
    width: 100%;
    height: auto;
  }
  .rec-img{
    width: 100%;
    height: auto;
    margin : 0; 
}
  .p-data {
    top : 650px;
    left: 50px;
 }

.container {
  grid-template-columns: 1fr 1fr 1fr; 
}


}
