@media only screen and (min-width: 832px) {
  h1 {
      font-size: 35px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 22px;
  }
  /*--------------- HEADER ---------------*/
  header div img{
    max-width: 50%;
    height: auto;
  }
  /*--------------- NAV ---------------*/
  .navigation {
    display: inline-flex;
  }
  .navigation li:first-child{
    display:none;
  }
  .navigation li{
    display: flex;
  }
  .navigation li a {
    color: #fff;
  }
  .navigation a:hover {
    color: #fff;
    background-color: #4f7cac;
  }
  .navigation li.active a {
    color: #4f7cac;
    background-color: #c0e0de;
  }
  /*--------------- SECTION ---------------*/
  .summary {
    flex-direction: row;
  }
  .summary-img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .rec-img{
    width: 100%;
    height: auto;
    margin : 0; 
}

  .leftcol-1 {
    display: flex;
  }    
  .leftcol-1 .map{
    width: 80%;
    float: left;
  } 
  .rightcol-1 {
    margin:0 20%;
  }  
  .forecast {
    display: grid;
    width: 80%;
  } 
  .day {
    height: 100px;
  } 
  /*--------------- ARTICLE ---------------*/
  .article-img {
    width: 50%;
    float:right;
  } 
  .p-data {
    top : 600px;
    left: 50px;
 }
  .p-data h4 {
    font-size: 22px;
 }
 .p-data p {
  font-size: 15px;
}

.container {
  grid-template-columns: 1fr 1fr; 
}


}
