main{
    display:block;
    max-width: 98%;
    justify-content: center;
    align-items: center;
    
   
}

.towns div {
    display: grid;
    grid-template-columns: 1fr; 
    width: 100%;
} 
.motto {
    margin-bottom: 3rem;
}
.cardscity {
    margin: 0;
    padding: 0;
    width: 100%;
}

.cardscity section {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 25rem;
    background-color: #ddb955;
    color: #5379ca ;
}
.cardscity section p {
   font-style: italic;
   margin-top: 0;
   margin-bottom: 3rem;
   text-align: center;
   margin-right: 0;
    
}

.pdados {
    display: inline;
    padding: 0;
    margin-left: 0;

}


.cardscity span {
    display: Flex;
    font-weight: bold;
    margin: 0;
}

.cardscity h2 {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.cardscity img {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.img-city {
    margin: 0;
    padding: 0;
}

.main {
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0;

}  

footer{
    text-align: center;
    color: #553f92;
}

@media only screen and (min-width: 833px) {
    .main {
        margin-left: 8rem;
        margin-right: 6rem;
        padding: 0;

    }    
    
    .towns div {
        grid-template-columns: 1fr 1fr  ; 
        
    }


}  

@media only screen and (min-width: 1280px) {
    .main {
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
        padding: 0;

    }
    
    .towns div {
        grid-template-columns: 1fr 1fr 1fr  1fr; 
        
    }
}