
$bodyColor: #FFF1D0;
$heavyWeight: bold;

$headerColor: #F0C808;
$headerFont: 'Roboto Slab', serif; 
$headerFontSize: 40px;

$navColor: #07A0C3;
$navFont: 'Roboto Condensed', sans-serif;
$navFontSize: 30px;
$navBackColor : #086788;

$footColor: #F0C808;
$footFont: 'Roboto Condensed', sans-serif;
$footFontSize: 20px;

$h1Color:  #086788;;
$h1Font: 'Roboto Slab', serif; 
$h1FontSizeLarge: 2.7rem;
$h1FontSizeMedium: 2.5rem;
$h1FontSizeSmall: 1.7rem;

$h2Color: $h1Color;
$h2Font: 'Roboto', sans-serif;
$h2FontSize: 25px;

$h3Color: #07A0C3;
$h3Font: 'Roboto', sans-serif;
$h3FontSize: 20px;

$pColor: $h1Color;
$pFont: 'Roboto Condensed', sans-serif;
$pFontSize: 20px;


$gutter: 2%;
